.maynard-panel {
    background-color: alpha(black, 0.7);
}

.maynard-apps {
    color: #bebebe;
    border-radius: 0;
    border: none;
}

.maynard-apps:hover {
    background: alpha(black, 0.2);
    color: white;
    border: none;
    box-shadow: none;
}

.maynard-grid-item {
    background-color: alpha(black, 0.6);
    color: white;
    font: 12px Sans;
    border-style: solid;
    border-color: #6d6d6d;
    border-width: 1px;
    border-radius: 1px;
}

.maynard-grid-item button, .maynard-grid-item button:hover {
    border: none;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
}

.maynard-grid-label {
    background-color: #929292;
}

popover {
    background-color: alpha(black, 0.8);
    color: white;
    border: 1px solid gray;
    border-radius: 0;
    padding: 10px;
}

panel-button {
    padding: 0 6px;
    color: white;
    border: none;
}

panel-button:hover {
    color: white;
    background: black;
}